node_modules
.git
.gitignore
.gitlab-ci.yml
.env
.env.*
Dockerfile
docker-compose.yml
.dockerignore
env-example.txt
info.txt
tests
npm-debug.log
reports
.trivy-cache
coverage
docs
openclaw
scripts
k8s
*.md
infra/.terraform
infra/*.tfstate
infra/*.tfstate.*
*.tfstate
*.tfstate.*
.DS_Store
