PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://127.0.0.1:5000,http://localhost:5000

SALTROUNDS=10
JWT_SECRET=
JWT_REFRESH_SECRET=
SECRET_PASSWORD=
AES_KEY=

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=todo_devsecops
MONGO_DB_URI=mongodb://mongodb:27017/todo_devsecops

GITLAB_BASE_URL=https://gitlab.com
GITLAB_PROJECT_ID=Simo-Zg/ToDo-app
GITLAB_REF=main
GITLAB_API_TOKEN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

DAST_TARGET_URL=http://127.0.0.1:5000
ZAP_PATH=C:\Program Files\ZAP\Zed Attack Proxy\zap.bat

SAST_SCANNERS=sonarqube
SEMGREP_APP_TOKEN=
SONAR_HOST_URL=http://host.docker.internal:9000
SONAR_TOKEN=
SONAR_PROJECT_KEY=todo-devsecops

AWS_REGION=eu-west-3
AWS_ACCOUNT_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_ECR_REPOSITORY=todo-app
AWS_EKS_CLUSTER_NAME=todo-devsecops-eks
K8S_SERVICE_TYPE=LoadBalancer
K8S_STAGING_NAMESPACE=todo-staging
K8S_PRODUCTION_NAMESPACE=todo-production
K8S_IMAGE=
