node_modules/
npm-debug.log*
terraform/aws-staging/.terraform/
terraform/azure-production/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
!**/.terraform.lock.hcl
.env
.env.*
!.env.example
.runner_system_id
info.txt
*.log
*.tfplan
.tfvars
reports/
.trivy-cache/
coverage/
*.tmp
docs/
