node_modules/
npm-debug.log*
terraform/aws-staging/.terraform/
terraform/azure-production/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
!**/.terraform.lock.hcl
.env
info.txt
*.log
*.tfplan
.tfvars
*guide.md